@font-face {
  font-family: 'Nevis';
  src: url('../fonts/nevis.eot');
  src: url('../fonts/nevis.eot') format('embedded-opentype'),
       url('../fonts/nevis.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Nevis';
  src: url('../fonts/nevis.eot');
  src: url('../fonts/nevis.eot') format('embedded-opentype'),
       url('../fonts/nevis.ttf') format('truetype');
  font-weight: bold;
}

body {
  margin: 0;
  min-width: 1000px;
  font: 12px Arial, sans-serif;
  color: #5d5d5d;
  border-top: 17px solid #090909;
  background-color: #f4f4f4;
}

a {
  color: #fe9b00;
  text-decoration: none;
  outline: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-wrapper {
  margin: 0 auto;
  width: 960px;
  padding: 0 20px;
}

.header,
.slider-wrapper,
.teaser-wrapper,
.portfolio-wrapper {
  border-bottom: 1px solid #c0c0c0;
}

.header {
  padding: 15px 0;
}

.header-logo {
  float: left;
  width: 135px;
  padding: 32px 0 30px 78px;
  font: bold 20px Nevis, sans-serif;
  color: #090909;
  text-transform: uppercase;
  background: url(../img/logo-header.png) no-repeat  0% 75%;
}

.header-email {
  font-size: 13px;
  text-align: right;
}

.header-email a {
  color: #999898;
}

.header-nav {
  float: right;
  width: 75%;
  padding: 35px 0 0;
  text-align: right;
}

.header-nav-item {
  display: inline-block;
  padding: 0 30px 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.header-nav-item:first-child {
  padding-left: 0;
}

.header-nav-item:last-child {
  padding-right: 0;
}

.header-nav-item a:hover,
.header-nav-item a.active {
  color: #090909;
}

.slider-wrapper {
  padding: 19px 0 18px 0;
}

.slider {
  padding: 36px 0;
  background: url(../img/banner.png) no-repeat #fe9b00  100% 100%;
  background: url(../img/banner.png) no-repeat 100% 100%, -webkit-linear-gradient(145deg, #e25000 0%,#fe9b00 100%);
  background: url(../img/banner.png) no-repeat 100% 100%,  linear-gradient(-55deg, #e25000 0%,#fe9b00 100%);
}

.slider-headline {
  display: inline-block;
  width: 50%;
  margin: 0 0 29px 30px;
  color: #f4f4f4;
  font: 85px Nevis, sans-serif;
  line-height: .89;
  text-transform: uppercase;
  text-shadow: rgba(144, 63, 3, 0.35) 2px 2px 2px;
}

.slider-works {
  display: inline-block;
  width: 46.15%;
  margin: 0 0 7px 35px;
  color: #999898;
  text-transform: uppercase;
  background-color: #090909;
}

.slider-works-title,
.slider-works-link {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  font-size: 1.25em;
}

.slider-works-title {
  float: left;
  margin: 0;
  padding: 14px 0 13px 12px;
}

.slider-works-link {
  float: right;
  padding: 14px 6px 13px 0;
  font-weight: bold;
  text-align: right;
}

.slider-works-link a:hover {
  color: #f4f4f4;
}

.slider-works-link a::after {
  display: inline-block;
  position: relative;
  content: "\2192";
  margin-left: 3px;
  bottom: 2px;
}

.teaser-wrapper {
  padding-bottom: 11px;
}

.teaser {
  float: left;
  margin: 0 2.5%;
  width: 30%;
}

.teaser:first-of-type {
  margin-left: 0%;
}

.teaser:last-of-type {
  margin-right: 0%;
}

.teaser-headline {
  color: #090909;
  font-size: 1.5em;
  padding: 7px 0 8px 0;
  text-transform: uppercase;
  border-bottom: 6px solid #090909;
}

.teaser-headline::before {
  display: inline-block;
  position: relative;
  content: "\2192";
  margin: 0 10px 0 2px;
  bottom: 2px;
}

.teaser-content {
  margin-bottom: 0px;
  line-height: 20px;
}

.teaser-link {
  font-weight: bold;
  line-height: 2.5em;
  text-transform: uppercase;
}

.teaser-link::before {
  display: inline-block;
  position: relative;
  content: "\2192";
  margin: 0 8px 0 2px;
  bottom: 2px;
  color: #090909;
}

.teaser-link:hover {
  color: #090909;
}

.teaser-list {
  padding: 0;
  list-style: none;
}

.teaser-list-item {
  padding: 3px 0 13px 31px;
  position: relative;
}

.teaser-list-item::before {
  display: inline-block;
  position: absolute;
  left: 2px;
  content: url(../img/bullet-list.png);
}

.teaser-quote {
  margin: 0;
}

.teaser-quote a,
.teaser-cite {
  color: #090909;
}

.teaser-quote-footer {
  margin-top: 2em;
}

.teaser-cite {
  padding-left: 5px;
}

.portfolio-wrapper {
  padding-bottom: 21px;
}

.portfolio-headline {
  color: #090909;
  font-size: 1.5em;
  padding-top: 4px;
  text-transform: uppercase;
}

.portfolio-headline::before {
  display: inline-block;
  position: relative;
  content: "\2192";
  margin: 0 10px 0 2px;
  bottom: 1px;
}

.portfolio {
  float: left;
  position: relative;
  margin: 0 2% 19px;
  width: 22%;
  min-height: 135px;
  background: #e2e2e2 no-repeat;
  background-size: cover;
}

.portfolio:hover,
.blog-social-link:hover {
  opacity: .8;
}

.portfolio:nth-of-type(4n+1) {
  margin-left: 0%;
}

.portfolio:nth-of-type(4n+4) {
  margin-right: 0%;
}

.portfolio.portfolio-work-1 {
  background-image: url(../img/portfolio-img-1.jpg);
}

.portfolio.portfolio-work-2 {
  background-image: url(../img/portfolio-img-2.jpg);
}

.portfolio.portfolio-work-3 {
  background-image: url(../img/portfolio-img-3.jpg);
}

.portfolio.portfolio-work-4 {
  background-image: url(../img/portfolio-img-4.jpg);
}

.portfolio-link {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 7px 2px 11px;
  color: #090909;
  font-weight: bold;
  text-transform: uppercase;
  background: #fe9b00;
}

.portfolio-link::after {
  display: inline-block;
  position: relative;
  content: "\2192";
  margin-left: 2px;
  bottom: 2px;
}

.blog {
  padding-bottom: 40px;
}

.blog-headline {
  color: #090909;
  font-size: 1em;
  padding: 15px 0;
  text-transform: uppercase;
}

.blog-headline::before {
  display: inline-block;
  position: relative;
  content: "\2192";
  margin-right: 11px;
  bottom: 2px;
}

.blog-updates {
  float: left;
  width: 70%;
}

.blog-update-content {
  margin: 3px 0;
  line-height: 19px;
}

.blog-connect {
  float: right;
  width: 22%;
  margin: 0% .5% 0% 7.5%;
}

.blog-social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.blog-social-item {
  display: inline-block;
  padding: 0 10px 10px 0;
}

.blog-social-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/socials-sheet.png) no-repeat;
}

.blog-social-link.twitter {
  background-position: 0 0;
}

.blog-social-link.facebook {
  background-position: -32px 0;
}

.blog-social-link.flickr {
  background-position: -64px 0;
}

.blog-social-link.rss {
  background-position: -96px 0;
}

.footer {
  min-width: 1000px;
  padding: 20px 0 17px 0;
  background-color: #e2e2e2;
}

.footer-content {
  margin: 0 auto;
  width: 960px;
  padding: 0 20px;
}

.footer-nav {
  padding: 11px 0 3px;
}

.footer-nav-item {
  display: inline-block;
}

.footer-nav-item::after {
  content: "|";
  padding: 0 2px 0 7px;
}

.footer-nav-item:last-child::after {
  content: "";
  margin-left: 0;
}

.footer-nav-item a {
  color: #5d5d5d;
}

.footer-nav-item a:hover {
  color: #fe9b00;
}

.footer-copyright {
  margin: 3px 0 0;
}

.footer-logo {
  float: right;
  width: 68px;
  padding: 16px 0 18px 50px;
  font: bold 13px Nevis, sans-serif;
  color: #090909;
  text-transform: uppercase;
  background: url(../img/logo-footer.png) no-repeat;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}